<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    
  <title>GoodGame</title>
    
  <!--======= Basic Metas =======-->
	<meta charset="utf-8">
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<meta name="description" content="">
  <meta name="keywords" content="">
	<meta name="author" content="">

	<!--======= Mobile Metas =======-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    
	<!--======= Favicons =======-->
    
  <!-- website favicon -->
  <!-- <link rel="shortcut icon" href="_img/favicon.png"> -->
  <!-- iPhone, iPod Touch -->
  <!-- <link rel="apple-touch-icon" href="_img/apple-touch-icon.png"> -->
  <!-- iPhone with Retina display -->
  <!-- <link rel="apple-touch-icon" sizes="114x114" href="_img/apple-touch-icon-114x114.png"> -->
  <!-- iPad first and second generation -->
  <!-- <link rel="apple-touch-icon" sizes="72x72" href="_img/apple-touch-icon-72x72.png"> -->
  <!-- iPad with Retina display -->
  <!-- <link rel="apple-touch-icon" sizes="144x144" href="_img/apple-touch-icon-144x144.png">     -->
    
  <!--======= CSS =======-->
    
  <!-- CSS Hórus Framework -->
	<link rel="stylesheet" type="text/css" href="css/horus.css">
    <!-- Your Style -->
	<link rel="stylesheet" type="text/css" href="css/style.css">


</head>

<body ng-controller="List">
    <div id='global_top_bar'>
        <div id='menu_button' ng-click="toggle()">
            <span class="menu-small-bar"></span>
            <span class="menu-small-bar"></span>
            <span class="menu-small-bar"></span>
        </div>
        <div id='text_on_logo'>GoodGameRU</div>
    </div>
    <div data-ng-init="init()" id="main_list">

        <div class="entrie_list_d">
            <div class="entrie_line_d" ng-repeat="item in list_items" ng-click="show_stream($index)">
                <img class="entrie_image" src="{{ item.prev }}">
                <div class="entrie_descr">
                    <br>
                    <span>{{ item.title }}</span><br>
                    <i>{{ item.streamer }}</i>
                </div>

            </div>
        </div>

        <!--<table class='entrie_list'>-->
            <!--<tr class='entrie_line' ng-repeat="item in list_items" ng-click="show_stream($index)">-->
                <!--<td class='entrie_img'><img src="{{ item.prev }}"></td>-->
                <!--<td class='entrie_text'>-->
                    <!--<span>{{ item.title }}</span><br>-->
                    <!--<i>{{ item.streamer }}</i>-->
                <!--</td>-->
            <!--</tr>-->


        <!--</table>-->
    </div>
    
    <div id='menu_block'>
            <div class='menu_item' ng-repeat="elem in menu_items" ng-click="menu_call($index)">
                {{elem.text}}
            </div>
    </div>
    
    <div id='player_block'>

    </div>

    <div id='about_dialog'>
      <h3>GoodGame.Ru</h3>
      <div>
        <a onclick="navigator.app.loadUrl('http://goodgame.ru', { openExternal:true });" href="#">© 2007 – ∞ ООО «Мидиан»</a>
      </div> 

      <br><br>

      <h3>Apache Cordova under Apache License, Version 2.0</h3>
      <div>
      <a  onclick="navigator.app.loadUrl('http://www.apache.org/licenses/LICENSE-2.0', { openExternal:true });" href="#" >Apache License, Version 2.0</a>
      </div> 

      <br><br>

      <h3>AngularJS under MIT license</h3>
      <div>
      <b>The MIT License (MIT)<b>
      <br><br>
      Copyright (c) 2010-2012 Google
      <br><br>
      Permission is hereby granted, free of charge, to any person obtaining a copy
      of this software and associated documentation files (the "Software"), to deal
      in the Software without restriction, including without limitation the rights
      to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
      copies of the Software, and to permit persons to whom the Software is
      furnished to do so, subject to the following conditions:
      <br><br>
      The above copyright notice and this permission notice shall be included in
      all copies or substantial portions of the Software.
      <br><br>
      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
      IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
      FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
      AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
      LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
      OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
      THE SOFTWARE.
      </div> 
    </div>
    



  <!--======= JS =======-->
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/list.js"></script>
  <script type="text/javascript" src="js/panel.js"></script>
  <script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
  <script type="text/javascript">




  </script>

  <script type="text/javascript" src="cordova.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
  <script type="text/javascript">
      app.initialize();
  </script>


</body>
</html>